.App {
  text-align: left;
  background-color: hsl(35, 35%, 85%);

}

hr {
  opacity: 0.6;
   width: 80%;
   height: 3px;
   border: 0 none;
   margin-right: auto;
   margin-left: auto;
   margin-top: 1em;
   margin-bottom:1em;
   background-color:#555;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headspace {
  padding-top: 3em;
}
.footspace {
  padding-bottom: 3em;
}
.breakspace {
  margin-top: 1.25em;
}
.half-breakspace {
  margin-top: 0.625em;
}

.foxy-map-div {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.foxy-map {
  width: 100vmin;
}
.purple-map-div {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.purple-map {
  width: 80vmin;
}
.subtitle-mod {
  color: #4a4a4a;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.paragraph-mod {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}
